noderedflow.txt
[{"id":"d4ad6133.1b02e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15de9a67.e0b3f6","type":"tab","label":"Fire Detection System","disabled":false,"info":""},{"id":"6b4a8c84.9c7d04","type":"ui_group","name":"Sensors Location","tab":"3257b952.910436","order":1,"disp":true,"width":"8","collapse":false},{"id":"f1e027e4.07ca88","type":"telegram bot","botname":"FireDetecting_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"295b3ee6.4912e2","type":"firebaseCertificate","firebaseurl":"forest-fire-42577-default-rtdb","loginType":"none"},{"id":"c0d8810a.06469","type":"mqtt-broker","name":"","broker":"mqtt://localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b567e2c.1958b","type":"ui_group","name":"Sensor Node Values","tab":"3257b952.910436","order":2,"disp":true,"width":"6","collapse":false},{"id":"3257b952.910436","type":"ui_tab","name":"Map","icon":"map","order":2,"disabled":false,"hidden":false},{"id":"cdc1a90a.7d53d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1d1b29be.3c9286","type":"http request","z":"15de9a67.e0b3f6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Mohali,india&units=imperial&appid=e1674359d9582a856ea86e1bfc5901f5","tls":"","persist":true,"proxy":"","authType":"","x":410,"y":420,"wires":[["7e225b7d.937ff4"]]},{"id":"f5f7d7b4.61cfc8","type":"function","z":"15de9a67.e0b3f6","name":"CheckForConstraints","func":"var res=\"\";\nlet status = \"No fire detected\";\nif (msg.payload[\"New\"][\"Temperature\"]>100){\n    res=\"Very high temperature\";\n    status = \"Fire detected\"\n}\nelse if (msg.payload[\"New\"][\"Temperature\"]>60){\n    res=\"High temperature\";\n    status = \"Chance of fire\"\n}\nelse if (msg.payload[\"New\"][\"Temperature\"]<=60){\n    res=\"Low tempature\";\n    status = \"low chance of fire\"\n}\nvar res1=\"\";\nif(msg.payload[\"New\"][\"flame\"]===0)\n    {\n        res1=\"Flame Detected\";\n        if(status==\"Chance of fire\"){\n            status=\"High chance of fire\"\n        }\n    }\n    \nelse\n    res1=\"No Flame Detected\";\n//msg.payload[\"New\"][\"res1\"]=res1;\nvar res3=\"\";\nif(msg.payload[\"New\"][\"Humidity\"]-msg.payload[\"Old\"][\"Humidity\"]>=30)\n   {\n       res3=\"High difference in humidity detected\";\n       if(status==\"Chance of fire\"){\n            status=\"High chance of fire\"\n        }\n   }\nelse\n    res3=\"No difference in humidity\"\n\nmsg.payload[\"New\"][\"res\"]=res + \", \" +res1+\", \"+ res3\nmsg.payload[\"New\"][\"status\"] = status\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":80,"wires":[["6efd045a.ba289c"]]},{"id":"6efd045a.ba289c","type":"function","z":"15de9a67.e0b3f6","name":"CheckFire","func":"if(msg.payload[\"New\"][\"status\"]==\"Fire detected\")\n    msg.payload[\"New\"][\"Fire\"]=\"true\";\nelse\n    msg.payload[\"New\"][\"Fire\"]=\"false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":80,"wires":[["cdf01262.a255b","f0d18053.7fdab","e618bf2b.1f24b","46830a6f.6cea54","590a46a.8f3ccb8"]]},{"id":"b33850d8.0377b","type":"function","z":"15de9a67.e0b3f6","name":"SaveDatatoFile","func":"var temp=\"\";\ntemp+=msg.payload.nodeID\ntemp+=\",\"+msg.payload.Temperature\ntemp+=\",\"+msg.payload.Humidity\ntemp+=\",\"+msg.payload.Flame\ntemp+=\",\"+msg.payload.lat\ntemp+=\",\"+msg.payload.long\n\nmsg.payload=temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":360,"wires":[["e0876a7a.a41908"]]},{"id":"e0876a7a.a41908","type":"file","z":"15de9a67.e0b3f6","name":"SaveData","filename":"E:\\SensorNodedataa.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":460,"y":360,"wires":[["6bb559e7.a3a0f8"]]},{"id":"cdf01262.a255b","type":"function","z":"15de9a67.e0b3f6","name":"EventsOnMap","func":"if(msg.payload[\"New\"][\"Fire\"]==\"true\")\n{\n    msg.payload={\n        \"name\": \"Danger ->\"+\"Temperature\" +\":\"+msg.payload[\"New\"][\"Temperature\"] + \" Humidity\" +\":\"+msg.payload[\"New\"][\"Humidity\"] ,\n        \"Color\": \"#FF0000\",\n        \"fillColor\":\"#FF0000\",\n        \"icon\":\"wind\",\n        \"radius\": 150,\n        \"lat\":msg.payload[\"New\"][\"lat\"],\n        \"lon\":msg.payload[\"New\"][\"long\"],\n        \"layer\": \"drawing\",\n        \"fillOpacity\": 0.8,\n        \"clickable\": true\n    }\n}\nelse\n{\n   msg.payload={\n        \"name\": \"Temperature\" +\":\"+msg.payload[\"New\"][\"Temperature\"] + \" Humidity\" +\":\"+msg.payload[\"New\"][\"Humidity\"] + \" wind speed: \" + msg.payload[\"speed\"],\n        \"Color\": \"Green\",\n        \"fillColor\":\"Green\",\n        \"icon\":\"wind\",\n        \"radius\": 150,\n        \"fillOpacity\": 0.8,\n        \"lat\":msg.payload[\"New\"][\"lat\"],\n        \"lon\":msg.payload[\"New\"][\"long\"],\n        \"layer\": \"drawing\",\n        \"clickable\": true\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":260,"wires":[["af6e8725.49d948"]]},{"id":"4fef8d3d.51b6c4","type":"function","z":"15de9a67.e0b3f6","name":"FetchingoldValues","func":"var SensorNodesValues = flow.get(\"SensorNodesValues\")||0\nif(SensorNodesValues==0){\n     SensorNodesValues = [msg.payload]\n    flow.set(\"SensorNodesValues\",SensorNodesValues)\n    msg.payload={\"Old\":msg.payload,\"New\":msg.payload}\n}\nelse{\n    var found = false\n    var i =0;\n    for( i=0;i<SensorNodesValues.length;i++){\n        if(msg.payload[\"nodeID\"]==SensorNodesValues[i][\"nodeID\"]){\n            found = true\n            break\n        }\n    }\n    if(found){\n            var temp = msg.payload\n            msg.payload={\"Old\":SensorNodesValues[i],\"New\":msg.payload}\n            SensorNodesValues[i] = temp\n    }\n    else{\n        SensorNodesValues.push(msg.payload)\n    msg.payload={\"Old\":msg.payload,\"New\":msg.payload}    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":240,"wires":[["f5f7d7b4.61cfc8"]]},{"id":"af6e8725.49d948","type":"ui_worldmap","z":"15de9a67.e0b3f6","group":"6b4a8c84.9c7d04","order":1,"width":0,"height":0,"name":"","lat":"30.762709713458733","lon":"76.623","zoom":"15","layer":"","cluster":"","maxage":"36000","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1210,"y":280,"wires":[]},{"id":"722c3d65.322c64","type":"function","z":"15de9a67.e0b3f6","name":"sendMsgToTelegram","func":"msg.payload[\"content\"] = \"Fire detected in sensor node \" + msg.payload[\"New\"][\"nodeID\"] + \"\\nlat: \" + msg.payload[\"New\"][\"lat\"] +\"\\nlon: \" + msg.payload[\"New\"][\"long\"]\nmsg.payload[\"chatId\"] = 1092348536;\nmsg.payload[\"type\"] = \"message\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":100,"wires":[["6ee78147.66e89"]]},{"id":"6c815808.809c88","type":"link in","z":"15de9a67.e0b3f6","name":"","links":["46830a6f.6cea54"],"x":1775,"y":340,"wires":[["641747f4.399018"]]},{"id":"46830a6f.6cea54","type":"link out","z":"15de9a67.e0b3f6","name":"","links":["6c815808.809c88"],"x":995,"y":120,"wires":[]},{"id":"f0d18053.7fdab","type":"switch","z":"15de9a67.e0b3f6","name":"CheckIfFireDetected","property":"payload[\"New\"][\"Fire\"]","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":160,"wires":[["722c3d65.322c64","5a572f40.4805c"]]},{"id":"6ee78147.66e89","type":"telegram sender","z":"15de9a67.e0b3f6","name":"Telegrambot","bot":"f1e027e4.07ca88","haserroroutput":false,"outputs":1,"x":1830,"y":100,"wires":[[]]},{"id":"ed902f5c.ad05","type":"join","z":"15de9a67.e0b3f6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":870,"y":500,"wires":[["bf89d58f.9396f8"]]},{"id":"7e225b7d.937ff4","type":"change","z":"15de9a67.e0b3f6","name":"windspeed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"wind\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["ed902f5c.ad05"]]},{"id":"5a572f40.4805c","type":"function","z":"15de9a67.e0b3f6","name":"LatLong","func":"\nmsg.payload={\n    \"lat\":msg.payload[\"New\"][\"lat\"],\n    \"long\":msg.payload[\"New\"][\"long\"],\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":200,"wires":[["432a6bab.8cbdd4","70556b98.c4f5b4"]]},{"id":"e618bf2b.1f24b","type":"function","z":"15de9a67.e0b3f6","name":"FireStatus","func":"let fire = flow.get(\"FireStatus\")||false\n\nif(msg.payload[\"New\"][\"Fire\"]==\"true\"){\n    fire = {\"fire\":true,\"lat\":msg.payload[\"New\"][\"lat\"],\"long\":msg.payload[\"New\"][\"long\"]}\n    flow.set(\"FireStatus\",fire)\n    //fire = true\n    //msg.payload={\"Fire\":\"true\"}\n}\nmsg.payload = fire\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":40,"wires":[["5b06fc39.fad2e4"]]},{"id":"70556b98.c4f5b4","type":"function","z":"15de9a67.e0b3f6","name":"DateTime","func":"var d= new Date();\nmsg.payload=d\nvar day=d.getDate();\nvar month=d.getMonth()+1;\nvar year=d.getFullYear();\nvar hours=d.getHours();\nvar minutes=d.getMinutes();\nvar seconds=d.getSeconds();\nmsg.payload={\n    \"Date\":day+\"/\"+month+\"/\"+year,\n    \"Time\":hours+\":\"+minutes+\":\"+seconds\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":200,"wires":[["432a6bab.8cbdd4"]]},{"id":"432a6bab.8cbdd4","type":"join","z":"15de9a67.e0b3f6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1610,"y":300,"wires":[["8e84b003.67da1"]]},{"id":"bf89d58f.9396f8","type":"addFirebase","z":"15de9a67.e0b3f6","firebaseCertificate":"295b3ee6.4912e2","client_email":"","private_key":"","data":"","childpath":"path","propertyType":"msg","method":"set","newchildpath":"","x":1150,"y":520,"wires":[[]]},{"id":"8e84b003.67da1","type":"addFirebase","z":"15de9a67.e0b3f6","firebaseCertificate":"295b3ee6.4912e2","client_email":"","private_key":"","data":"","childpath":"WSN/WSN1/history","propertyType":"str","method":"push","newchildpath":"","x":1790,"y":300,"wires":[[]]},{"id":"5b06fc39.fad2e4","type":"addFirebase","z":"15de9a67.e0b3f6","firebaseCertificate":"295b3ee6.4912e2","client_email":"","private_key":"","data":"","childpath":"WSN/WSN1/status","propertyType":"str","method":"set","newchildpath":"","x":1230,"y":40,"wires":[[]]},{"id":"6c136a4b.a0c914","type":"mqtt in","z":"15de9a67.e0b3f6","name":"","topic":"SensorNode/json","qos":"2","datatype":"json","broker":"c0d8810a.06469","x":140,"y":540,"wires":[["a2a16538.236d98","43b686c.eaa0a78"]]},{"id":"e9249bff.75a1b8","type":"mqtt out","z":"15de9a67.e0b3f6","name":"","topic":"SensorNode/Sleep","qos":"2","retain":"true","broker":"c0d8810a.06469","x":470,"y":20,"wires":[]},{"id":"2d467dd3.946882","type":"change","z":"15de9a67.e0b3f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"normal\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":40,"wires":[["e9249bff.75a1b8"]]},{"id":"651e8c79.3a9af4","type":"inject","z":"15de9a67.e0b3f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"nodeID\":\"2\",\"Temperature\":120,\"Humidity\":10,\"Flame\":0,\"Fire\":false,\"lat\":30.763887,\"long\":76.626071}","payloadType":"json","x":150,"y":600,"wires":[["a2a16538.236d98"]]},{"id":"868a6ab2.6cf068","type":"ui_text","z":"15de9a67.e0b3f6","group":"6b567e2c.1958b","order":3,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload[\"Temperature\"]}}","layout":"row-spread","x":2450,"y":240,"wires":[]},{"id":"2011df2e.fc533","type":"ui_text","z":"15de9a67.e0b3f6","group":"6b567e2c.1958b","order":4,"width":0,"height":0,"name":"Humidity","label":"Humidity","format":"{{msg.payload[\"Humidity\"]}}","layout":"row-spread","x":2460,"y":300,"wires":[]},{"id":"ea1883f7.4ef88","type":"ui_text","z":"15de9a67.e0b3f6","group":"6b567e2c.1958b","order":5,"width":0,"height":0,"name":"Flame","label":"Flame","format":"{{msg.payload[\"Flame\"]}}","layout":"row-spread","x":2450,"y":340,"wires":[]},{"id":"e6bdaa59.8269c8","type":"ui_text","z":"15de9a67.e0b3f6","group":"6b567e2c.1958b","order":2,"width":0,"height":0,"name":"","label":"nodeID","format":"{{msg.payload[\"nodeID\"]}}","layout":"row-spread","x":2400,"y":180,"wires":[]},{"id":"7b6470f0.0759e","type":"ui_dropdown","z":"15de9a67.e0b3f6","name":"","label":"","tooltip":"","place":"Select option","group":"6b567e2c.1958b","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":2040,"y":280,"wires":[["e01cf3fe.ff799"]]},{"id":"641747f4.399018","type":"function","z":"15de9a67.e0b3f6","name":"","func":"sensornodes = flow.get(\"SensorNodesValues\")||0\nlet ls = []\nif(sensornodes!=0){\n    let i=0\n    for(i=0;i<sensornodes.length;i++){\n        sensornodes[i]\n        ls.push(\"Sensornode \"+sensornodes[i][\"nodeID\"])\n    }\n}\nmsg.options = ls\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1930,"y":340,"wires":[["7b6470f0.0759e"]]},{"id":"e01cf3fe.ff799","type":"function","z":"15de9a67.e0b3f6","name":"","func":"sensornodes = flow.get(\"SensorNodesValues\")||0\nvar found = false\nvar i =0;\nfor( i=0;i<sensornodes.length;i++){\n   if(msg.payload==\"Sensornode \" + sensornodes[i][\"nodeID\"]){\n            found = true\n            break\n        }\n    }\n    if(found){\n      msg.payload = sensornodes[i]    \n    }\n    else{\n      msg.payload = 0   \n        \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2250,"y":300,"wires":[["e6bdaa59.8269c8","868a6ab2.6cf068","2011df2e.fc533","ea1883f7.4ef88","311b426c.959d1e","dc4ab4ce.ee5d08"]]},{"id":"3ba8cdf5.a749e2","type":"link in","z":"15de9a67.e0b3f6","name":"","links":["a2a16538.236d98"],"x":95,"y":420,"wires":[["1d1b29be.3c9286","4fef8d3d.51b6c4","b33850d8.0377b","6e6bcf5c.9e01a","82e5b3b5.e7986"]]},{"id":"a2a16538.236d98","type":"link out","z":"15de9a67.e0b3f6","name":"FlowOut","links":["3ba8cdf5.a749e2"],"x":285,"y":580,"wires":[]},{"id":"cf6d4842.905b98","type":"function","z":"15de9a67.e0b3f6","name":"","func":"msg.payload = msg.payload[\"New\"]\nmsg.path = \"WSN/WSN1/SensorNodes/\"+msg.payload[\"nodeID\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":440,"wires":[["ed902f5c.ad05"]]},{"id":"590a46a.8f3ccb8","type":"link out","z":"15de9a67.e0b3f6","name":"checkfiredata","links":["40946b2d.087d44"],"x":1005,"y":80,"wires":[]},{"id":"40946b2d.087d44","type":"link in","z":"15de9a67.e0b3f6","name":"","links":["590a46a.8f3ccb8"],"x":585,"y":420,"wires":[["cf6d4842.905b98"]]},{"id":"311b426c.959d1e","type":"ui_text","z":"15de9a67.e0b3f6","group":"6b567e2c.1958b","order":5,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload[\"status\"]}}","layout":"row-spread","x":2450,"y":400,"wires":[]},{"id":"dc4ab4ce.ee5d08","type":"ui_text","z":"15de9a67.e0b3f6","group":"6b567e2c.1958b","order":5,"width":0,"height":0,"name":"Fire","label":"Result","format":"{{msg.payload[\"res\"]}}","layout":"row-spread","x":2450,"y":460,"wires":[]},{"id":"43b686c.eaa0a78","type":"debug","z":"15de9a67.e0b3f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":480,"wires":[]},{"id":"6e6bcf5c.9e01a","type":"join","z":"15de9a67.e0b3f6","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":90,"y":180,"wires":[["2d467dd3.946882"]]},{"id":"82e5b3b5.e7986","type":"delay","z":"15de9a67.e0b3f6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":200,"wires":[["2d467dd3.946882"]]},{"id":"ac06b11c.62b88","type":"inject","z":"15de9a67.e0b3f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"nodeID\":\"1\",\"Temperature\":50,\"Humidity\":20,\"Flame\":0,\"Fire\":false,\"lat\":30.7624,\"long\":76.62071}","payloadType":"json","x":130,"y":660,"wires":[["a2a16538.236d98"]]},{"id":"6bb559e7.a3a0f8","type":"link out","z":"15de9a67.e0b3f6","name":"","links":["eae0d36.254103"],"x":565,"y":360,"wires":[]},{"id":"eae0d36.254103","type":"link in","z":"15de9a67.e0b3f6","name":"","links":["6bb559e7.a3a0f8"],"x":1015,"y":340,"wires":[["4fc4ec56.6f4f24"]]},{"id":"4fc4ec56.6f4f24","type":"function","z":"15de9a67.e0b3f6","name":"SendCSVtoTelegram","func":"var send = {\n    content: 'E:\\SensorNodedataa.csv',\n    type: 'document',\n    chatId:1092348536\n}\nmsg.payload=send;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":380,"wires":[["c7dded9f.030c2"]]},{"id":"c7dded9f.030c2","type":"telegram sender","z":"15de9a67.e0b3f6","name":"","bot":"f1e027e4.07ca88","haserroroutput":false,"outputs":1,"x":1510,"y":400,"wires":[[]]},{"id":"3ab4fac5.274906","type":"telegram receiver","z":"15de9a67.e0b3f6","name":"SendCSV","bot":"f1e027e4.07ca88","saveDataDir":"","filterCommands":false,"x":1000,"y":400,"wires":[["4fc4ec56.6f4f24"],["4fc4ec56.6f4f24"]]}]